{include file="overview_head.html"}
    <section id="download-page">
        <div class="page-title">Сваляне на файл</div>
        <div class="file-title">Hash: {LOAD_FILE}.txt</div>
        <div class="file-icon">
            <img src="{SITE_URL}public/img/download_icon.png">
        </div>
        <div class="file-download">
            <a href="{SITE_URL}public/uploads/{LOAD_FILE}.txt" class="download-button waves-effect" download="">
                <i class="fa fa-download"></i> Свали файла
            </a>
        </div>
    </section>
{include file="overview_footer.html"}